body{
    background-color: rgb(192, 186, 188);
}
h1{
    text-align: center;
}
.page_Title{
    font-size: xx-large;
    color:beige
}

p{
    background-color: chartreuse;
}
.personalized_Text{
    background-color: darkcyan;
    color:azure
}